<footer class="container-bulid">
    <div class="row">
            <div class="col-md-4 text-center" style="margin-top: 10px; margin-bottom: 20px">
                 <h4>Tiêu đề</h4>
            </div>
            <div class="col-md-4 text-center" style="margin-top: 10px;  margin-bottom: 20px">
                <h4>Tiêu đề</h4>
            </div>
            <div class="col-md-4 text-center" style="margin-top: 10px;  margin-bottom: 20px" >
                <h4>Thông tin liên hệ</h4>
                <p>facebook</p>
                <p>gmail</p>
            </div>
    </div>

</footer>